<?xml version="1.0"?>
<launch>
       
    <machine name="assistant" address="danter.local" env-loader="/home/rem0te/env.sh"/>
    <machine name="companion" address="raspberrypi.local" user="pi" password="companion" env-loader="/home/pi/env.sh"/>

    <group ns="assistant">
        <node pkg="bluerov_auto" type="KalmanFilter.py" name="KalmanFilterNode" machine="assistant"/>
        <node pkg="darknet-ros" type="yolo_v3.launch" name="yolo_v3.launch" machine="assistant"/> 
        
    </group>
    <group ns="companion">
        <node pkg="waterlinked_a50_ros_driver" type="publisher.py" name="publisher.py" machine="companion"/> 
        <node pkg="cv_camera" type="cv_camera_node" name="cv_camera_node" machine="companion"/> 
        
    </group>
    <!-- <node pkg="waterlinked_a50_ros_driver" type="publisher.py" name="publisher.py" /> -->
</launch>

